
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

h1{
    background-color: rgb(131, 128, 126);
    border-radius:1rem;
    padding: 10px 10px;
    margin: 5px 5px;
    cursor: pointer;
    /* color: aqua; */
}

button{
    padding: 10px 10px;
    margin: 10px 10px;
    transition: background 0.4s;
    
    
}

button:hover{
    background-color: rgb(232, 159, 159);
}